services:
  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_DB: tarefas
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d tarefas"]
      interval: 5s
      timeout: 5s
      retries: 10

  api:
    build: .
    container_name: spring_api
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    depends_on:
      db:
        condition: service_healthy

volumes:
  pgdata:
